.inputField {
  background-color: #262626; /* Using the second shade of grey */
  color: #ffffff; /* white text */
  border: 1px solid #311257; /* Using the first shade of purple */
}

.submitButton {
  background-color: #1e1e1e;
  color: #ffffff;
}

.form {
  display: flex;
  background-color: #1e1e1e;
  border: 1px solid #2a2a2a;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Soft shadow for depth */
  flex-shrink: 0;
  height: 3rem;
  width: 70%;
  z-index: 10;
  border-radius: 20px;
  margin-left: auto; /* Added */
  margin-right: auto; /* Added */
}

.inputField {
  flex-grow: 1;
  margin-right: 10px;
  padding: 10px 10px 10px 40px; /* Padding to accommodate the icon */
  border-radius: 25px; /* More rounded edges */
  padding: 10px;
  border-radius: 4px; /* Rounded corners */
  font-size: 16px; /* Readable text size */
}

.inputField::before {
  content: "\2709";
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #ffffff;
}

.inputField:focus {
  transform: scale(1.012); /* Slightly enlarge the input field */
  transition: transform 0.2s ease-in-out;
  outline: none; /* Removes default browser outline */
  box-shadow: 0 0 5px #007bff; /* Adds a soft glow */
}

.submitButton {
  background-color: transparent;
  /* background-color: #6225ae;  */
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.activeButton {
  background-color: #6225ae;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submitButton:hover {
  background-color: #6225ae;
}

.submitButton:active {
  transform: scale(0.98); /* Slightly shrink the button */
}
