.header {
  background-color: #262626;
  padding: 1rem;
  text-align: center;
  font-size: 48px;
  font-weight: 700;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transition: transform 0.3s ease;
}

.ask {
  color: #ceb180;
}

.away {
  color: #ceb180;
}

.hide {
  transform: translateY(-100%);
}
