.header {
  background-color: #262626;
  padding: 1rem;
  text-align: center;
  font-size: 48px;
  font-weight: 700;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.ask {
  color: #ceb180;
}

.away {
  color: #ceb180;
}
