.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.typingIndicator {
  text-align: center;
  padding: 10px;
  font-style: italic;
  color: #666;
  animation: blink 1s step-start infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}
