body {
  background-color: #262626; /* deep black */
  color: #ffffff; /* white text */
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
